<section class="card">
  <div class="card-body">
    <h1>La batalla del siglo muy pronto</h1>
  <img src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/11/ash-lionel.jpg?resize=1280%2C720&quality=80&ssl=1" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">Que pokemones usaran para esta gran batalla</h5>
    <h5 class="card-title">esperalo muy pronto.......</h5>
  
  </div>
  </div>
</section>
