<div class="card mx-auto" style="width: 40rem">
  <img src="https://laverdadnoticias.com/img/2022/11/04/viajes_pokemon_lanza_vista_previa_de_la_batalla_final_ash_vs_lionel.jpg" class="card-img-top" alt="...">
  <div class="card-body ">
    <h5 class="card-title">Creacion de un pokeapps</h5>
    <p class="card-text">Una aplicaicon de agregar comentarios y pokemones</p>
    <a href="/users/signin" class="btn btn-primary">Registrate</a>
  </div>
</div>